@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

#temperature-section {
    flex-direction: column;
    align-items: center;
}

#temperature-value {
    display: flex;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width: 10rem;
    height: 10rem;
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    box-shadow: 6px 8px 7px 2px rgba(0,0,0,0.4);
}

#temperature-history {
    width: 100%;
}

h1 {
    margin-right: auto;
    width: 100%;
    font-size: 2rem;
    border-bottom: 2px solid black;
}

.cold-temperature {
    border: 2px solid blue;
    background-color: blue;
    color: white;
}

.cool-temperature {
    border: 2px solid green;
    background-color: green;
}

.warm-temperature {
    border: 2px solid orange;
    background-color: orange;
}

.hot-temperature {
    border: 2px solid red;
    background-color: red;
}

nav {
    border-bottom: 2px solid black;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    background-color: grey;
    width: 100%;
    border-radius: 50px 50px 0 0;
    text-align: center;
    color: white;
    transition: background-color ease-in-out 0.2s;
    padding: 0.5rem;
}
li:hover{
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: darkgray;
}
.selected {
    background-color: black;
}

[aria-selected="true"] {
    display: flex;
}
[aria-selected="false"] {
    display: none;
}